@import "../../../../../../src/app/assets/styles/settings/index";

.title-block
{
    &--silver
    {
        color: $color-dusty-gray;
    }
}

:host
{
    &.title-block
    {
        font-size: $small-font-size;
        display: block;
        line-height: 21px;
        margin: 0 0 5px;

        &--silver
        {
            color: silver;
        }
    }
}
