@import "../../assets/styles/settings/index";

.simSwap
{
    &__title
    {
        font-size: $base-font-size-extra-large;
        line-height: 26px;
    }

    &__block
    {
        font-size: $base-font-size;
        line-height: 20px;
    }

    &__grid
    {
        display: inline-block;
        vertical-align: middle;

        &--first
        {
            width: 76%;
        }

        &--second
        {
            width: 23%;
            text-align: right;
        }
    }
}

.mainDiv
{
    margin-top: 0 0 40px;
    margin-bottom: 0 0 40px;
}


@media only screen and (max-width: $breakpoint-tablet) {
    .mainDiv
    {
        margin-top: 0 0 20px;
        margin-bottom: 0 0 20px;
    }

    .simSwap
    {
        &__grid
        {
            display: block;

            &--first
            {
                width: 100%;
            }

            &--second
            {
                width: 100%;
                text-align: inherit;
                margin: 20px 0 0;
            }
        }
    }
}
