<!-- TODO: Criar componente de seccoes -->
<div class="mainDiv">
    <div style="margin: 50px auto; max-width: 1200px; padding: 0px 10px">
        <h2 style="font-size: 36px;">
            <vf-text>{{ 'navigation.primary.simSwap' | translate }}</vf-text>
        </h2>
    </div>
</div>
<div style="margin: 50px auto; max-width: 1200px; padding: 0px 10px" class="mainDiv">
    <span *ngFor="let account of accounts; let accountIndex = index;">
        <span class="title--3" id="{{ 'banPanel-' + accountIndex }}">

            <span *ngIf="getOnboarded(account)">
                <vf-text id="{{ 'ban-' + accountIndex }}" inline>
                    {{ 'accounts.BAN' | translate | uppercase }}
                </vf-text>
                <vf-text id="{{ 'banKey-' + accountIndex }}" inline>
                    {{ account.banKey }}
                </vf-text>
                <vf-text id="{{ 'banLegalName-' + accountIndex }}" legalName>
                    {{ account.legalName }}
                </vf-text>
            </span>

            <span *ngFor="let subscription of account.subscriptions; let subscriptionIndex = index;">
                <span *ngIf="subscription.onboarded">
                    <vf-panel identifier="{{ 'subscriptionPanel-' + accountIndex + '' + subscriptionIndex }}">
                        <div class="simSwap__grid simSwap__grid--first">
                            <div class="simSwap__title">
                                <vf-text id="{{ 'banMsisdn-' + accountIndex + '' + subscriptionIndex }}">
                                    {{ subscription.msisdn }}
                                </vf-text>
                            </div>
                            <div class="simSwap__block">
                                <!-- TODO: -->
                                <!-- <vf-table-cell id="{{ 'simSwapTariffName-' + accountIndex + '' + subscriptionIndex }}" accordion-list-header>
                                {{ subscription.tariffName }}
                            </vf-table-cell> -->

                                <vf-text id="{{ 'simSwapTariffName-' + accountIndex + '' + subscriptionIndex }}" bold>
                                    {{ subscription.tariffName }}
                                </vf-text>
                            </div>
                        </div>
                        <div class="simSwap__grid simSwap__grid--second">
                            <vf-dropdown placeholder="Select SIM"
                                        [values]="getSimList(subscription.simCards)"
                                        id="{{ 'selectSim-' + accountIndex + '' + subscriptionIndex }}"
                                        titleId="{{ 'simType-' + accountIndex + '' + subscriptionIndex }}"
                                        valueId="{{ 'simNumber-' + accountIndex + '' + subscriptionIndex }}"
                                        zIndex="{{ '10' - subscriptionIndex }}"></vf-dropdown>
                        </div>
                    </vf-panel>
                </span>
            </span>
            <span *ngIf="getOnboarded(account)"><br></span>
        </span>
    </span>
</div>
