<div *ngFor="let button of buttons" [ngSwitch]="button.type">
    <div *ngIf="button.type === type">
        <button *ngSwitchCase="type"
                class="button button--{{ button.type }}"
                (click)="onClickButton($event)"
                [id]="id"
                [attr.role]="role"
                [class.button--full-width]="full_width"
                [class.button--short-padding]="padding">
            <ng-content></ng-content>
        </button>
    </div>
</div>
