@import "../../../../../../src/app/assets/styles/settings/index";

.button
{
    appearance: none;
    padding: 11px 37px;
    border: 1px solid transparent;
    font-size: $base-font-size-large;
    text-align: center;
    cursor: pointer;

    &--primary
    {
        color: $color-white;
        background-color: $color-red;

        &:hover
        {
            background-color: $color-red-berry;
            color: $color-white;
        }
    }

    &--secondary
    {
        color: $color-white;
        background-color: $color-dove-gray;

        &:hover
        {
            border-color: $color-mine-shaft;
            background-color: $color-mine-shaft;
            color: $color-white;
        }
    }

    &--plain
    {
        color: $color-white;
        background-color: $color-dove-gray;
        cursor: default;
        font-weight: bold;
        min-height: 52px; // Dont remove this!!
    }

    &--tertiary
    {
        color: $color-dove-gray;
        border-color: $color-dusty-gray;
        background-color: $color-white;

        &:hover
        {
            border-color: $color-mine-shaft;
            background-color: $color-wild-sand;
            color: $color-mine-shaft;
        }

        &__icon
        {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            margin-right: 15px;
        }

        &__content
        {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
            font-size: 14px;
            line-height: 1.43;
        }

    }
    &--full-width
    {
        display: block;
        width: 100%;
        text-align: center;
    }

    &--short-padding
    {
        padding: 11px 20px;
    }
}

@media only screen and (max-width: $breakpoint-tablet) {
    .button
    {
        display: block;
        width: 100%;
        padding: 10px;
    }
}
