@import "../../../../../../src/app/assets/styles/settings/index";
@import "../../../../../../src/app/assets/styles/tools/clearfix";

.panel
{
    &__item
    {
        margin: 10px 0 ;
        background: $color-white;
        width: 100%;
        box-shadow: 0 2px 4px rgba($color: $color-black, $alpha: .2);

    }

    &__content
    {
        margin: 0;
        line-height: 1.3em;
        padding: 20px 40px;
        position: relative;
        font-size: 22px;
        font-weight: normal;

        &::before
        {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 6px;
            height: 100%;
            background-color: $color-seance;
        }
    }
}

@media only screen and (max-width: $breakpoint-tablet)
{
    .panel
    {
        &__content
        {
            padding: 16px 20px;
        }
    }
}
