$breakpoint-small: 320px;
$breakpoint-tablet: 639px;
$breakpoint-desktop: 970px;
$breakpoint-tv: 1844px;

@mixin mq($smallerValue, $biggerValue) {
	@media (min-width: #{$smallerValue}) and (max-width: $biggerValue) {
		@content;
	}
}

@mixin tablet() {
	@media (min-width: 0) and (max-width: 1024px) {
		@content;
	}
}

@mixin mobile() {
	@media (min-width: 0) and (max-width: 640px) {
		@content;
	}
}