$extra-small-font-size: 12px;
$small-font-size: 14px;
$base-font-size: 16px;
$base-font-size-tablet: 18px;
$base-font-size-desktop: 18px;
$base-font-size-large: 20px;
$base-font-size-extra-large: 22px;
