$font-path: "assets/fonts/";

$font-family-vodafone-light: "VodafoneLight";
$font-path-vodafone-light: $font-path + "vodafone-light";

$font-family-vodafone-regular: "VodafoneRegular";
$font-path-vodafone-regular: $font-path + "vodafone-regular";

$font-family-vodafone-regular-bold: "VodafoneRegularBold";
$font-path-vodafone-regular-bold: $font-path + "vodafone-bold";

$font-family-sans-serif: $font-family-vodafone-regular, Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: "Fira Mono", Menlo, Monaco, Consolas, "Courier New", monospace;

$font-list-vodafone: ($font-family-vodafone-light, $font-path-vodafone-light),
                     ($font-family-vodafone-regular, $font-path-vodafone-regular),
                     ($font-family-vodafone-regular-bold, $font-path-vodafone-regular-bold);
