<div style="margin: 50px auto; max-width: 1200px; padding: 0px 10px">
    <h2 style="font-size: 36px;">
        <vf-text>{{ 'navigation.primary.myAccounts' | translate }}</vf-text>
    </h2>
    <vf-accordion *ngFor="let account of accounts; let accountIndex = index" identifier="{{ 'banAcordion-' + accountIndex }}" state="{{ accounts.length===1 ? 'open': 'closed' }}" accordion-header>
        <vf-text id="{{ 'banTitleAccounts-' + accountIndex }}" inline accordion-header>
            {{ 'accounts.BAN' | translate | uppercase }}
        </vf-text>
        <vf-text id="{{ 'banNumberAccounts-' + accountIndex }}" inline accordion-header>
            {{ account.banKey }}
        </vf-text>
        <vf-text id="{{ 'banLegalName-' + accountIndex }}" legalName accordion-header>
            {{ account.legalName }}
        </vf-text>

        <vf-accordion-list *ngFor="let subscription of account.subscriptions; let subscriptionIndex = index" disabled="{{ subscription.onboarded === false ? 'true' : null }}" identifier="{{ 'accountsAcordion-' + accountIndex + '' + subscriptionIndex }}" tooltipIdentifier ="{{ accountIndex + '' + subscriptionIndex }}" accordion-body>
            <vf-table-cell id="{{ 'banMSISDN-' + accountIndex + '' + subscriptionIndex }}" accordion-list-header>
                {{ subscription.msisdn }}
            </vf-table-cell>

            <div accordion-list-body>
            </div>
        </vf-accordion-list>
    </vf-accordion>
</div>
