@import "../../../../../../src/app/assets/styles/settings/index";
@import "../../../../../../src/app/assets/styles/tools/clearfix";

:host
{
    &.alert-box
    {
        &__item
        {
            width: 100%;
            background-color: $color-white;
            border-radius: 10px;
            box-shadow: 0 1px 1px 0 rgba($color-black, 0.1);
            padding: 10px 15px;
            display: block;
        }
    }
}

.alert-box
{
    &__icon
    {
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }

    &__content
    {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
        font-size: 14px;
        line-height: 1.43;

        &::before
        {
            content: "";
            position: absolute;
            border-left: 1px solid $color-brown-grey;
            height: 100%;
            top: 0;
            left: -15px;
        }
    }
}

@media only screen and (max-width: $breakpoint-tablet)
{
:host
{
    &.alert-box
    {
        &__item
        {
            display : flex;
            align-items : center;
        }
    }
}

}
