<div class="alert-box__icon">
    <!-- TODO: SVG as a file-->
    <svg id="warning" class="icon icon--small" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="192" height="192" viewBox="0 0 192 192">
        <defs>
            <path id="a" d="M97 117c-2.209 0-4-1.603-4-3.581V43.58C93 41.604 94.791 40 97 40s4 1.604 4 3.581v69.838c0 1.978-1.791 3.581-4 3.581zm0 12a6 6 0 1 1-.002 12.002A6 6 0 0 1 97 129zM96 16c-44.183 0-80 35.817-80 80s35.817 80 80 80 80-35.817 80-80c-.105-44.139-35.861-79.895-80-80zm0 151.942c-39.733 0-71.942-32.21-71.942-71.942 0-39.733 32.21-71.942 71.942-71.942 39.733 0 71.942 32.21 71.942 71.942-.01 39.728-32.214 71.932-71.942 71.942z"/>
        </defs>
        <g fill="none" fill-rule="evenodd">
            <mask id="b" fill="#fff">
                <use xlink:href="#a"/>
            </mask>
            <use fill="#333" fill-rule="nonzero" xlink:href="#a"/>
            <g fill="#333" mask="url(#b)">
                <path d="M0 0h192v192H0z"/>
            </g>
        </g>
    </svg>
</div>
<div class="alert-box__content">
    <ng-content></ng-content>
</div>
