@import "../../../../../../src/app/assets/styles/settings/index";

:host
{
    &.dropdown
    {
        &__item
        {
            position: relative;
            display: block;
            min-width: 200px;
            border: 1px solid $color-dusty-gray;
            padding: 10px 8px;
            font-size: $base-font-size;
            color: $color-dove-gray;
            text-align: left;
            cursor: pointer;
            box-shadow: 0 2px 4px 0 rgba($color-black, .2);
        }
    }
}

.dropdown
{
    &__header
    {
        padding: 0px 12px;
        line-height: 26px;
    }

    &__chevron
    {
        position: absolute;
        right: 20px;
        top: calc(50% - 12px);
        color: $color-mine-shaft;
        transform-origin: 50% 50%;
        transition: transform .4s;
        line-height: normal;

        &--open
        {
            transform: scaleY(-1);
        }
    }

    &__options
    {
        list-style-type: none;
        padding: 0px 10px;
        margin: 0 -9px;
        background-color: white;
        position: absolute;
        font-size: $small-font-size;
        color: $color-mine-shaft;
        border: 1px solid $color-dusty-gray;
        border-top: none;
        width: 100.9%; // TODO: refactor %
        box-shadow: 0 2px 4px 0 rgba($color-black, .2);
        z-index: 1;
        top: 100%;

        &--item
        {
            padding: 10px 0;
            border-top: 1px solid $color-gallery;
            line-height: 1.43em;
        }
    }
}

@media only screen and (max-width: $breakpoint-tablet) {
    .dropdown
    {
        &__options
        {
            width: 100.5%;
        }
    }
}
