<div class="dropdown__header" (click)="toggleDropdown()">
    {{ placeholder }}
    <div class="dropdown__chevron" [class.dropdown__chevron--open]="toggle">
        <svg class="icon icon--medium-small" id="035ffb98-4526-44c3-a3f1-09389eab9ccd" data-name="ICON" xmlns="http://www.w3.org/2000/svg" width="144" height="76" viewBox="0 0 144 76">
            <polyline id="00134c7b-b10c-486b-af1b-ea0801b1e1c2" data-name="&lt;Pfad&gt;" points="140 4 72 72 4 4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
</div>
<span *ngIf="toggle">
    <ul class="dropdown__options" [ngStyle]="{'z-index': zIndex}">
        <li class="dropdown__options--item" *ngFor="let item of values; let i = index" (click)="selectItem(item.label, item.value)">
            <div attr.data-typeid="{{ titleId + i }}">{{ item.label }}</div>
            <div attr.data-cardid="{{ valueId + i }}">{{ item.value }}</div>
        </li>
    </ul>
</span>
