<div class="accordion__item">
    <h3 class="accordion__heading"
        [attr.aria-expanded]="booleanState"
        [attr.aria-selected]="booleanState"
        tabindex="0"
        role="tab"
        (click)="toggleState()"
        [class.accordion__heading--active]="state == 'open'">

        <span class="chevron" id={{identifier}}>
            <ng-content select = "[accordion-header]"></ng-content>
            <span class="chevron__container accordion__chevron">
                <svg class="icon icon--small chevron__icon" xmlns="http://www.w3.org/2000/svg" width="144" height="76" viewBox="0 0 144 76">
                    <polyline id="00134c7b-b10c-486b-af1b-ea0801b1e1c2" data-name="&lt;Pfad&gt;" points="140 4 72 72 4 4" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
        </span>
    </h3>

    <div class="accordion__content" tabindex="0" [@toggleState]=state>
        <ng-content select="[accordion-body]"></ng-content>
    </div>
</div>
