@import "../../../../../../src/app/assets/styles/settings/index";
@import "../../../../../../src/app/assets/styles/tools/clearfix";

.accordion
{
    &__item
    {
        margin: 0 0 10px;
        background: $color-white;
        width: 100%;
        box-shadow: 0 2px 4px rgba($color: #000000, $alpha: .2);
        overflow: hidden;
    }

    &__heading
    {
        font-size: 22px;
        margin: 0;
        line-height: 1.3em;
        padding: 16px 40px;
        overflow: hidden;
        position: relative;

        &::before
        {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 6px;
            height: 100%;
            background-color: $color-seance;
        }

        &:hover
        {
            cursor: pointer;
        }

        .chevron__text
        {
            text-align: left;
        }

        &--active
        {
            .accordion__chevron
            {
                transform: scaleY(-1);
            }
        }
    }

    &__content
    {
        display: block;
        background-color: $color-gallery;
        padding: 0px 40px;
    }

    &__chevron
    {
        color: $color-red;
        display: inline-block;
        position: absolute;
        right: 0;
        top: calc(50% - 14px);
        padding-left: 20px;
        transform-origin: 50% 50%;
        transition: transform .4s;
    }
}

@media only screen and (max-width: $breakpoint-tablet)
{
    .accordion
    {
        &__heading
        {
            padding: 16px 20px;
        }

        &__content
        {
            padding: 0px 20px;
        }
    }
}
