@import "../../../../../../src/app/assets/styles/settings/index";
@import "../../../../../../src/app/assets/styles/tools/clearfix";

.tooltip
{
    position: absolute;
    min-width: 200px;
    max-width: 250px;
    min-height: 80px;
    background-color: $color-white;
    border-radius: 6px;
    box-shadow: 0px 0px 6px #CCC;
    display: block;
    z-index: 1;
    right: -10px;
    bottom: 35px;
    animation: fadein .5s;

    &:after
    {
        background-color: $color-white;
        position: absolute;
        box-shadow: -1px 1px 2px rgba( 178, 178, 178, .4 );
        content: "\00a0";
        display: block;
        float: right;
        width:  15px;
        height: 15px;
        right: 15px;
        bottom: -7px;
        transform: rotate( -45deg );
    }

    &__content
    {
        display: block;
        padding: 30px 10px 10px 10px;
        font-size: $small-font-size;
        line-height: normal;
    }

    &__close
    {
        position: absolute;
        right: 8px;
        top: 8px;
    }
}

@media only screen and (max-width: $breakpoint-tablet)
{
    .tooltip
    {
        width: calc(100% + 20px);
        right: 0;
        min-width: inherit;
        max-width: none;
        bottom: 35px;
        margin: 0 -10px;
    }

}
