<div class="tooltip" *ngIf="toggle" id="{{ 'tooltipTextId-' + id }}">
    <a href="#" role="button" aria-label="Close Tooltip" class="tooltip__close" (click)="close($event)">
        <svg class="icon icon--extra-small" id="4a644cb5-2b9e-4079-8068-4c0022c4a2c8" data-name="ICON" xmlns="http://www.w3.org/2000/svg" width="144" height="144" viewBox="0 0 144 144"> <line id="2b810136-93de-4622-a0cc-fbdf15eb7667" data-name="&lt;Pfad&gt;" x1="4" y1="4" x2="140" y2="140" stroke-linecap="round" stroke-linejoin="round"/><line id="2d18ff19-f34e-4c5d-9791-2549bee849dd" data-name="&lt;Pfad&gt;" x1="4" y1="140" x2="140" y2="4" stroke-linecap="round" stroke-linejoin="round"/></svg>
    </a>
    <div class="tooltip__content">
        <ng-content></ng-content>
    </div>
</div>
