<!-- TODO: Criar componente de seccoes -->
<div class="mainDiv">
    <div style="margin: 50px auto; max-width: 1200px; padding: 0px 10px">
        <h2 style="font-size: 36px;">
            <vf-text>{{ 'navigation.primary.showPUK' | translate }}</vf-text>
        </h2>

        <vf-alert-box id="securityMessage-0">
            {{ 'puk.alert' | translate }}
        </vf-alert-box>
    </div>
</div>
<div style="margin: 50px auto; max-width: 1200px; padding: 0px 10px" class="mainDiv">
    <span *ngFor="let account of accounts; let accountIndex = index;">
        <span class="title--3" id="{{ 'banPanel-' + accountIndex }}">

            <span *ngIf="getOnboarded(account)">
                <vf-text id="{{ 'banTitlePuk-' + accountIndex }}" inline>
                    {{ 'accounts.BAN' | translate | uppercase }}
                </vf-text>
                <vf-text id="{{ 'banNumberPuk-' + accountIndex }}" inline>
                    {{ account.banKey }}
                </vf-text>
                <vf-text id="{{ 'banLegalName-' + accountIndex }}" legalName>
                    {{ account.legalName }}
                </vf-text>
            </span>

            <span *ngFor="let subscription of account.subscriptions; let subscriptionIndex = index;">
                <span *ngIf="subscription.onboarded">
                    <vf-panel identifier="{{ 'subscriptionPanel-' + accountIndex + '' + subscriptionIndex }}">
                        <!-- TODO: Refactor: add grid component -->
                        <div class="puk__grid puk__grid--first">
                            <div class="puk__title">
                                <vf-text id="{{ 'banMsisdn-' + accountIndex + '' + subscriptionIndex }}">
                                    {{ subscription.msisdn }}
                                </vf-text>
                            </div>
                            <div class="puk__block">
                                <vf-text id="{{ 'banTariffName-' + accountIndex + '' + subscriptionIndex }}" bold>
                                    {{ subscription.tariffName }}
                                </vf-text><br>
                                <vf-text id="{{ 'mainSIMTitle-' + accountIndex + '' + subscriptionIndex }}" inline>
                                    {{ 'puk.mainSimID' | translate }}
                                </vf-text>
                                <vf-text *ngFor="let card of subscription.simCards" id="{{ 'mainSIM-'+ accountIndex + '' + subscriptionIndex }}"
                                    inline>
                                    <span *ngIf="card.type === 'Hauptkarte'">
                                        {{ card.simId }}
                                    </span>
                                </vf-text>
                            </div>
                        </div>
                        <div class="puk__grid puk__grid--second">
                            <vf-button type="tertiary" full_width="true" padding="true" (click)="getPuk(subscription.msisdn, subscriptionIndex, $event)"
                                *ngIf="toggle !== subscription.msisdn" id="{{ 'eyeMask-' + accountIndex + '' + subscriptionIndex }}" >
                                <span class="puk__text">
                                    {{ 'puk.pukText' | translate }}
                                </span>

                                <span class="puk__icon">
                                    <!-- TODO: Refactor all SVGS -->
                                    <svg class="icon icon--small" style="color: inherit" id="4a644cb5-2b9e-4079-8068-4c0022c4a2c8"
                                        data-name="ICON" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="192" height="192" viewBox="0 0 192 192">
                                        <defs>
                                            <path id="f" d="M29.376 103.518a92.776 92.776 0 0 0 13.188 15.26C57.002 132.196 74.735 140.166 96 140.166c21.246 0 38.966-7.951 53.443-21.342a94.01 94.01 0 0 0 13.196-15.144 80.42 80.42 0 0 0 3.358-5.204c.467-.793.831-1.448 1.076-1.911.06-.276.05-.53-.03-.813-.45-1.005-2.23-4.09-4.42-7.271a92.772 92.772 0 0 0-13.188-15.26C134.997 59.804 117.264 51.834 96 51.834c-21.247 0-38.967 7.951-53.444 21.342A94.014 94.014 0 0 0 29.36 88.319a80.452 80.452 0 0 0-3.358 5.204c-.467.792-.83 1.443-1.075 1.908-.06.278-.05.533.03.818.453 1.012 2.23 4.092 4.42 7.27zM96 149c-23.692 0-43.52-8.912-59.508-23.771-9.916-9.216-17.7-20.515-19.84-25.818a4.399 4.399 0 0 1-.09-.248 10.48 10.48 0 0 1 0-6.768c.066-.2.148-.394.243-.582.316-.627.833-1.576 1.526-2.752a89.244 89.244 0 0 1 3.727-5.78A102.803 102.803 0 0 1 36.5 66.71C52.523 51.888 72.33 43 96 43c23.69 0 43.52 8.912 59.507 23.771 9.916 9.217 17.704 20.522 19.84 25.82a10.452 10.452 0 0 1 .088 7.02 4.401 4.401 0 0 1-.24.575 50.975 50.975 0 0 1-1.527 2.753 89.212 89.212 0 0 1-3.727 5.78 102.8 102.8 0 0 1-14.442 16.572C139.475 140.112 119.668 149 95.999 149zm22.06-53c0-12.261-10.1-22.201-22.56-22.201-12.459 0-22.56 9.94-22.56 22.201 0 12.26 10.101 22.201 22.56 22.201 12.46 0 22.56-9.94 22.56-22.201zm8.94 0c0 17.12-14.103 31-31.5 31C78.104 127 64 113.12 64 96c0-17.12 14.104-31 31.5-31 17.397 0 31.5 13.88 31.5 31z" />
                                        </defs>
                                        <g fill="none" fill-rule="evenodd">
                                            <mask id="z" fill="#fff">
                                                <use xlink:href="#f" />
                                            </mask>
                                            <use fill="#FFF" fill-rule="nonzero" xlink:href="#f" />
                                            <g fill="none" mask="url(#z)">
                                                <path d="M0 0h192v192H0z" />
                                            </g>
                                        </g>
                                    </svg>
                                </span>
                            </vf-button>
                            <vf-button type="plain" full_width="true" *ngIf="toggle === subscription.msisdn" id="{{ 'pukValue-' + accountIndex + '' + subscriptionIndex }}">
                                {{ puk }}
                            </vf-button>
                        </div>
                    </vf-panel>
                </span>
            </span>
            <span *ngIf="getOnboarded(account)"><br></span>
        </span>
    </span>
</div>
