@import "../../assets/styles/settings/index";

.puk
{
    &__icon
    {
        color: inherit;
    }

    &__title
    {
        font-size: $base-font-size-extra-large;
        line-height: 26px;
    }

    &__block
    {
        font-size: $base-font-size;
        line-height: 20px;
    }

    &__grid
    {
        display: inline-block;
        vertical-align: middle;

        &--first
        {
            width: 76%;
        }

        &--second
        {
            width: 200px;
            position: absolute;
            right: 40px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__button
    {
        padding: 11px 20px;
    }

    &__text
    {
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;
    }

    &__icon
    {
        display: inline-block;
    }
}

.mainDiv
{
    margin-top: 0 0 40px;
    margin-bottom: 0 0 40px;
}


@media only screen and (max-width: $breakpoint-tablet) {
    .mainDiv
    {
        margin-top: 0 0 20px;
        margin-bottom: 0 0 20px;
    }

    .puk
    {
        &__grid
        {
            display: block;

            &--first
            {
                width: 100%;
            }

            &--second
            {
                display: block;
                width: 100%;
                position: relative;
                top: 0;
                right: 0;
                transform: inherit;
                margin: 20px 0 0;
            }
        }

        &__text
        {
            vertical-align: inherit;
        }

        &__icon
        {
            transform: translateY(-2px);
        }
    }
}
