@import "../../../../../../src/app/assets/styles/settings/index";

:host
{
    &.text
    {
        display: block;

        &--inline
        {
            display: inline;
        }

        &--bold
        {
            font-size: inherit;
            font-family: $font-family-vodafone-regular-bold;
        }

        &--legal-name
        {
            display: block;
            color: $color-seance;
            font-size: $base-font-size;
            font-family: $font-family-vodafone-regular-bold;
            font-weight: normal;
        }
    }
}
