@import "../../../../../../src/app/assets/styles/settings/index";
@import "../../../../../../src/app/assets/styles/tools/clearfix";

.accordion-list
{
    &__item
    {
        padding: 0;
        background: transparent;
        width: 100%;
    }

    &__heading
    {
        font-size: $base-font-size;
        margin: 0;
        line-height: 1.3em;
        padding: 16px 0;
        position: relative;

        &:hover
        {
            cursor: pointer;
        }

        .chevron__text
        {
            text-align: left;
        }

        &--active
        {
            .accordion-list__chevron
            {
                transform: scaleY(-1);
            }
        }
    }

    &__content
    {
        display: block;
        background-color: $color-white;
        padding: 20px 40px;
        margin: 0px -40px;
        overflow: hidden;
    }

    &__chevron
    {
        display: inline-block;
        padding-left: 20px;
        transform-origin: 50% 50%;
        transition: transform .4s;
    }

    &--disabled
    {
        cursor: default !important;
    }
}

:host
{
    &.accordion-list
    {
        &--border-bottom
        {
            display: block;
            border-bottom: 1px solid $color-brown-grey;

            &:last-child
            {
                border-bottom: none;
            }
        }
    }
}

@media only screen and (max-width: $breakpoint-tablet)
{
    .accordion-list
    {
        &__chevron
        {
            position: absolute;
            top: calc(50% - 12px);
            right: 0;
            width: 100%;
            height: 24px;

            &--tooltip
            {
                position: absolute;
                right: 0;
            }
        }

        &__content
        {
            padding: 20px 40px;
        }
    }
}
