<div class="accordion-list__item">
    <div class="accordion-list__heading"
        [attr.aria-expanded]="!isClosed"
        [attr.aria-selected]="!isClosed"
        tabindex="0"
        role="tab"
        (click)="!disabled ? toggleState() : null"
        [ngClass]="{
            'accordion-list--disabled': disabled,
            'accordion-list__heading--active': state == 'open'
        }"
        id="{{ identifier }}">

        <span class="chevron">
            <ng-content select="[accordion-list-header]"></ng-content>
            <span class="chevron__container accordion-list__chevron">
                <!-- // TODO: Refactor all SVG -->
                <div *ngIf="!disabled" class="accordion-list__chevron--tooltip">
                    <svg class="icon icon--medium-small chevron__icon" xmlns="http://www.w3.org/2000/svg" width="144" height="76" viewBox="0 0 144 76">
                        <polyline id="00134c7b-b10c-486b-af1b-ea0801b1e1c2" data-name="&lt;Pfad&gt;" points="140 4 72 72 4 4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div *ngIf="disabled">
                    <a id="{{ 'tooltip-' + tooltipIdentifier }}" href="#" role="button" aria-label="Close Tooltip" (click)="showTooltip($event)" class="accordion-list__chevron--tooltip">
                        <svg class="icon icon--medium-small chevron__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="192" height="192" viewBox="0 0 192 192">
                            <defs>
                                <path id="a" d="M104 128h-4V84a4 4 0 0 0-4-4h-8a4 4 0 0 0-4 4 4 4 0 0 0 4 4h4v40h-4a4 4 0 0 0-4 4 4 4 0 0 0 4 4h16a4 4 0 0 0 4-4v0a4 4 0 0 0-4-4h0zM96 16c-44 0-80 36-80 80s36 80 80 80 80-36 80-80c0-44-36-80-80-80zm0 152c-40 0-72-32-72-72 0-40 32-72 72-72 40 0 72 32 72 72 0 40-32 72-72 72zm-2-101a6 6 0 1 0-6-6 6 6 0 0 0 6 6h0z"/>
                            </defs>
                            <g fill="none" fill-rule="evenodd"><mask id="b"><use xlink:href="#a"/></mask><use fill-rule="nonzero" xlink:href="#a"/></g>
                        </svg>
                    </a>
                    <vf-tooltip>{{ 'accounts.notOnboardedTooltip' | translate }} <a href="#" class="underline">registration process</a>.</vf-tooltip>
                </div>
            </span>
        </span>
    </div>

    <div class="accordion-list__content" tabindex="0" [@toggleState]=state *ngIf="!disabled">
        <ng-content select="[accordion-list-body]"></ng-content>
    </div>
</div>
