<div style="margin-top: 50px">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="max-width: 400px; margin: 0px auto; padding: 0px 10px">
        <legend style="font-size: 36px; text-align: center">MeinVodafone Business</legend>
        <div class="form__row">
            <vf-label title="Benutzername" for="username"></vf-label>
            <input type="text" id="username" class="form__input" placeholder="Eg: erika.mustermann@mail.de" formControlName="username" required>
        </div>

        <div class="form__row">
            <vf-label title="Internet-Passwort" for="password"></vf-label>
            <input type="password" id="password" class="form__input" placeholder="Passwort" formControlName="password" required>
        </div>

        <div class="form__row">
            <vf-button title="Login" id="submitLogin" type="primary" full_width="true">
                Login
            </vf-button>
        </div>
    </form>
</div>
