.button
{
    appearance: none;
    padding: 11px 37px;
    border: 1px solid transparent;
    font-size: 20px;
    text-align: center;

    &--primary
    {
        color: white;
        background-color: #e60000;
    }
}
