@import "../../../../../../src/app/assets/styles/settings/index";

.heading
{
    display: block;
    font-family: $font-family-vodafone-light;

    &--1
    {
        font-size: 56px;
        line-height: 62px;
    }

    &--2
    {
        font-size: 40px;
        line-height: 48px;
    }

    &--3
    {
        font-size: 34px;
        line-height: 40px;
    }

    &--4
    {
        font-size: 24px;
        line-height: 30px;
    }

    &--5
    {
        font-size: 20px;
        line-height: 28px;
    }

    &--6
    {
        font-size: 18px;
        line-height: 24px;
    }
}

:host
{
    .no-gutter--all
    {
        margin: 0;
    }
}
