<h1 class="heading heading--1" *ngIf="type == 'heading1'" [class.no-gutter--all]="noGutter">
    <ng-content select="[heading1]"></ng-content>
</h1>

<h2 class="heading heading--2" *ngIf="type == 'heading2'" [class.no-gutter--all]="noGutter">
    <ng-content select="[heading2]"></ng-content>
</h2>

<h3 class="heading heading--3" *ngIf="type == 'heading3'" [class.no-gutter--all]="noGutter">
    <ng-content select="[heading3]"></ng-content>
</h3>

<h4 class="heading heading--4" *ngIf="type == 'heading4'" [class.no-gutter--all]="noGutter">
    <ng-content select="[heading4]"></ng-content>
</h4>

<h5 class="heading heading--5" *ngIf="type == 'heading5'" [class.no-gutter--all]="noGutter">
    <ng-content select="[heading5]"></ng-content>
</h5>

<h6 class="heading heading--6" *ngIf="type == 'heading6'" [class.no-gutter--all]="noGutter">
    <ng-content select="[heading6]"></ng-content>
</h6>
