<div style="margin: 50px auto; max-width: 1200px; padding: 0px 10px">
    <h2 style="font-size: 36px;">
        <vf-text>{{ 'navigation.primary.mySubscriptions' | translate }}</vf-text>
    </h2>
    <vf-accordion *ngFor="let account of accounts; let accountIndex = index" state="closed" identifier="{{ 'banAcordion-' + accountIndex }}" accordion-header>
        <vf-text id="{{ 'banTitleSubscriptions-' + accountIndex }}" inline accordion-header>
            {{ 'accounts.BAN' | translate | uppercase }}
        </vf-text>
        <vf-text id="{{ 'banNumberSubscriptions-' + accountIndex }}" inline accordion-header>
            {{ account.banKey }}
        </vf-text>

        <vf-accordion-list *ngFor="let subscription of account.subscriptions; let subscriptionIndex = index" disabled="{{ subscription.msisdn === '491720301478' ? true : null }}" identifier="{{ 'subscriptionAcordion-' + accountIndex + '' + subscriptionIndex }}" tooltipIdentifier="{{ accountIndex + '' + subscriptionIndex }}" accordion-body>
            <vf-table-cell id="{{ 'subscriptionMSISDN-' + accountIndex + '' + subscriptionIndex }}" accordion-list-header>{{ subscription.msisdn }}</vf-table-cell>
            <vf-table-cell id="{{ 'subscriptionTariffName-' + accountIndex + '' + subscriptionIndex }}" accordion-list-header>{{ subscription.tariffName }}</vf-table-cell>
            <vf-table-cell id="{{ 'subscriptionPortfolioName-' + accountIndex + '' + subscriptionIndex }}" accordion-list-header>{{ subscription.portfolioName }}</vf-table-cell>
            <div accordion-list-body>
                <!-- DUMMY TABLE -->
                <div id="row">
                    <div class="column">
                        <vf-title-block id="{{ 'simCard-' + accountIndex + '' + subscriptionIndex }}">{{ 'subscriptions.simCart' | translate }} </vf-title-block>
                        <div *ngFor="let simCard of subscription.simCards; let cardIndex = index">
                            <vf-text id="{{ 'subscriptionSimLabelId-' + accountIndex + '' + subscriptionIndex + cardIndex }}" inline>
                                {{ 'subscriptions.simID' | translate | uppercase }}
                            </vf-text>
                            <vf-text id="{{ 'subscriptionSimId-' + accountIndex + '' + subscriptionIndex + cardIndex }}" inline bold>
                                {{ simCard.simId }}
                            </vf-text>
                            <!--TODO: Add grid component when ready -->
                            <vf-text id="{{ 'subscriptionSimType-' + accountIndex + '' + subscriptionIndex + cardIndex }}" inline bold>
                                {{ simCard.type }}
                            </vf-text><br>
                        </div>
                        <!-- DUMMY HR -->
                        <div class="line">
                            <hr />
                        </div>
                    </div>

                    <div class="column">
                        <vf-title-block id="{{ 'contractTitle-' + accountIndex + '' + subscriptionIndex }}" >{{ 'subscriptions.contractTitle' | translate }} </vf-title-block>
                        <div *ngIf="subscription.contract.endDate && subscription.contract.cancellationStatus == 'Cancelled'; else noStatusOrDate">
                            <div>
                                <vf-text id="{{ 'cancellationStatusTitle-' + accountIndex + '' + subscriptionIndex }}" inline>
                                    {{ 'subscriptions.cancellationStatus' | translate }}
                                </vf-text>
                                <vf-text id="{{ 'cancellationStatus-'+ accountIndex + '' + subscriptionIndex }}" inline bold>
                                    {{ subscription.contract.cancellationStatus }}
                                </vf-text>
                            </div>
                            <div>
                                <vf-text title="test" id="{{ 'endDateTitle-' + accountIndex + '' + subscriptionIndex }}" inline>
                                    {{ 'subscriptions.endDate' | translate }}</vf-text>
                                <vf-text id="{{ 'endDate-' + accountIndex + '' + subscriptionIndex }}" inline bold>
                                    {{ subscription.contract.endDate | date:'dd.MM.yyyy' }}
                                </vf-text><br>
                            </div>
                        </div>

                        <ng-template #noStatusOrDate>
                            <vf-text title="test" id="{{ 'startDateTitle-' + accountIndex + '' + subscriptionIndex }}" inline>
                                {{ 'subscriptions.startDate' | translate }}
                            </vf-text>
                            <vf-text id="{{ 'startDate-' + accountIndex + '' + subscriptionIndex }}" inline bold>
                                {{ subscription.contract.startDate | date:'dd.MM.yyyy' }}
                            </vf-text><br>

                            <vf-text title="test" id="{{ 'nextPossibleCancelationTitle-' + accountIndex + '' + subscriptionIndex }}" inline>
                                {{ 'subscriptions.nextPossibleCancellationDate' | translate }}
                            </vf-text>
                            <vf-text id="{{ 'nextPossibleCancelation-' + accountIndex + '' + subscriptionIndex }}" inline bold>
                                {{ subscription.contract.nextPossibleCancellationDate | date:'dd.MM.yyyy' }}
                            </vf-text><br>

                            <vf-text title="test" id="{{ 'nextSubsidyDateTitle-' + accountIndex + '' + subscriptionIndex }}" inline>
                                {{ 'subscriptions.nextSubsidyDate' | translate }}
                            </vf-text>
                            <vf-text id="{{ 'nextSubsidyDate-' + accountIndex + '' + subscriptionIndex }}" inline bold>
                                {{ subscription.contract.nextSubsidyDate | date:'dd.MM.yyyy' }}
                            </vf-text><br>

                            <vf-text title="test" id="{{ 'lastCancellationDateTitle-' + accountIndex + '' + subscriptionIndex }}" inline>
                                {{ 'subscriptions.lastCancellationDate' | translate }}
                            </vf-text>
                            <vf-text id="{{ 'lastCancellationDate-' + accountIndex + '' + subscriptionIndex }}" inline bold>
                                {{ subscription.contract.lastCancellationDate | date:'dd.MM.yyyy' }}
                            </vf-text>
                        </ng-template>
                    </div>
                </div>
                <hr />
                <vf-title-block color="silver" id="{{ 'frameContractCopy-' + accountIndex + '' + subscriptionIndex }}">
                    {{ 'subscriptions.contractFrame' | translate }}
                </vf-title-block>
            </div>
        </vf-accordion-list>
    </vf-accordion>
</div>
