@import "../../assets/styles/settings/index";

/************************************ DUMMY STYLES ****************************************/

#row {
    display: inline-flex;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.column {
    width: 50%;
}

.line {
    display: none;
}

@media only screen and (max-width: $breakpoint-tablet) {
    .column {
        width: 100%;
    }

    #row {
        clear: both;
        display: block;
    }

    .line {
        display: inline;
    }
}

/*******************************************************************************************/
