.spring
{
    margin: 0 auto;
    max-width: 1200px;
    min-width: 300px;
    padding: 0px 10px;
    height: 100%;
}

@media only screen and (max-width: $breakpoint-desktop)
{
    .spring
    {
        padding: 0 20px;

        &--md-nested
        {
            padding: 0 percentage(1 / 6);
        }

        &--md-flush
        {
            padding: 0;
        }
    }
}

@media only screen and (max-width: $breakpoint-tablet)
{
    .spring
    {
        padding: 0 10px;

        &--nested
        {
            padding: 0;
        }

        &--sm-flush
        {
            padding: 0;
        }
    }
}
