@import "../../../../../../src/app/assets/styles/settings/index";

.form
{
    &__input
    {
        background-color: $color-white;
        border: 1px solid $color-dusty-gray;
        border-radius: 0;
        box-shadow: inset 1px 3px 4px 0 rgba($color-black, .1);
        color: $color-dove-gray;
        display: block;
        position: relative;
        width: 100%;
        padding: 13px 20px 12px;
        font-size: $base-font-size-large;
    }
}
