html, body
{
    color: $color-mine-shaft;
    font-size: $base-font-size-desktop;
    line-height: 1.333;
    font-family: $font-family-vodafone-regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    min-height: 100%;
    background-color: $color-wild-sand;

    &::before
    {
        content: "desktop";
        display: none;
    }
}

html
{
    position: relative;
}

@media only screen and (max-width: $breakpoint-desktop)
{
    body
    {
        &::before
        {
            content: "tablet";
        }
    }
}


@media only screen and (max-width: $breakpoint-tablet)
{
    body
    {
        font-size: $base-font-size;

        &::before
        {
            content: "mobile";
        }
    }
}
