.chevron
{
    display: table;
    position: relative;
    width: 100%;
    font-weight: normal;

    &__text
    {
        display: table-cell;
        vertical-align: middle;
    }

    &__container
    {
        line-height: 0;
        float: right;
    }

    &__icon
    {
        font-size: $base-font-size-desktop;
    }
}

@media only screen and (max-width: $breakpoint-tablet)
{
    .chevron
    {
        &__text
        {
            display: block;
            margin: 5px 30px 0 0;
        }
    }
}
