.icon
{
    fill: none;
    stroke: currentColor;
    stroke-width: .4em;
    vertical-align: middle;
    display: inline-block;

    &--small
    {
        width: 28px;
        height: 28px;
    }

    &--medium-small
    {
        width: 24px;
        height: 24px;
    }

    &--extra-small
    {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width: $breakpoint-desktop)
{
    .icon
    {
        &--small
        {
            width: 24px;
            height: 24px;
        }
    }
}

@media only screen and (max-width: $breakpoint-tablet)
{
    .icon
    {
        &--small
        {
            width: 20px;
            height: 20px;
        }
    }
}
