@import "../../assets/styles/settings/index";

.navigation
{
    position: relative;
    background-color: #4A4D4E;
    font-size: 32px;

    &__spring
    {
        display: block;
        max-height: 72px;
    }

    &-static
    {
        width: 100%;
        line-height: 0;
    }

    &__list
    {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    &__global
    {
        width: 100%;
        overflow: hidden;
        background: 0 0;
        z-index: 1;
        padding-left: 60px;

        &--type
        {
            position: relative;
            display: inline-block;
            padding: 0;
            margin: 0;
            background: 0 0;
            float: left;
        }
    }

    &__item
    {
        float: left;
        font-family: 'VodafoneLight';
        font-size: 24px;

        &--right
        {
            float: right;
        }

        &--nested
        {
            width: 100%;
        }

        &--tertiary
        {
            width: 100%;
        }
    }

    &__site
    {
        font-size: 16px;
        background-color: #4A4D4E;
        color: #CCC;

        &--active
        {
            background-color: #FCFDFD;
            color: #333;
        }
    }

    &__link
    {
        display: block;
        padding: 15px 20px;

        &--slim
        {
            padding: 4px 20px;
        }

        &--main
        {
            max-width: 240px;
            text-align: center;
            padding: 21px 20px 20px;
        }

        &--menu-open
        {
            background-color: $color-red;
            color: $color-white;
        }
    }

    &--primary
    {
        background-color: white;
        border-bottom: 1px solid rgba(102,102,102,.5);
        background-clip: padding-box;
        height: 73px;
    }

    &--display
    {
        display: block;
        top: 100%;
        opacity: 1;
        visibility: visible;
        transition: all .3s ease .3s;
    }

    &--tertiary
    {
        background-color: transparent;
        position: absolute;
        right: 0;
        text-align: left;

        &--user
        {
            background-color: hex-to-rgba($color-white, .96);
            width: 300px;
        }
    }

    &__chevron
    {
        color: $color-red;
        width: 24px;
        height: 24px;
        transform: rotate(-90deg);

        &--center
        {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }
    }

    &__toggle
    {
        &--close
        {
            background-color: $color-red;
            color: $color-white;
            z-index: 3;
        }
    }
}

a
{
    color: inherit;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
}

.brand
{
    margin: 12px 10px 12px 0;

    &__logo
    {
        position: relative;
        width: 48px;
        height: 48px;
        vertical-align: top;
    }

    &__link
    {
        display: block;
        padding: 15px 20px;

        &--main
        {
            max-width: 200px;
            text-align: center;
            padding: 21px 20px 20px;
        }
    }
}

@media only screen and (max-width: $breakpoint-desktop)
{
    .navigation
    {
        &__item
        {
            font-size: 20px;
        }

        &--primary
        {
            height: 60px;
        }

        &--tertiary
        {
            margin: 0;
            -webkit-overflow-scrolling: touch;
            width: 370px;
            right: -20px;
            top: auto;
            bottom: auto;
            position: absolute;
            overflow: visible;
            z-index: 1;

            &::before
            {
                background-color: rgba($color-white, .9);
                content: "";
                display: block;
                position: fixed;
                right: 0;
                top: 0;
                bottom: 0;
                width: inherit;
                z-index: 0;
            }

            &--user
            {
                background: transparent;
            }
        }

        &--display
        {
            transition-delay: 0s;
            display: block;
        }

        &__accordion
        {
            padding-bottom: 180px;
            padding-left: 0px;
            max-height: 100vh; // For Galaxy S4 as it doesn't support calc()
            max-height: calc(100vh - 180px); // Other browsers
            overflow-y: auto;
        }

        &__link
        {
            &--main
            {
                padding: 17px 15px;
            }
        }
    }

    .brand
    {
        margin: 10px 10px 10px 0;

        &__logo
        {
            width: 40px;
            height: 40px;
        }
    }
}

@media only screen and (max-width: $breakpoint-tablet)
{
    .navigation
    {
        &__spring
        {
            max-width: none;
            margin-left: 0;
            max-height: none;
        }

        &__hide
        {
            position: relative;
            z-index: 2;
        }

        &__item
        {
            font-size: 20px;
            pointer-events: auto;
            font-family: 'VodafoneRegular';
        }

        &__link
        {
            display: block;
            padding: 15px 20px;
            position: relative;

            &--main
            {
                max-width: 200px;
                text-align: center;
                padding: 13px 8px 15px;
            }

            &--icon
            {
                padding: 4px 6px;
                margin: 6px 5px;
            }

            &--icon-last
            {
                margin-right: 0px;
            }

            &--menu
            {
                z-index: 2;
            }
        }

        &--primary
        {
            height: 48px;
        }

        &--tertiary
        {
            left: 45px;
            position: fixed;
            width: auto;
            right: 0;

            &::before
            {
                left: 45px;
                right: 0;
            }
        }
    }

    .brand
    {
        margin: 8px 10px 8px 0;
        left: 10px;
        width: 32px;
        height: 32px;

        &__logo
        {
            width: 100%;
            height: 100%;
        }
    }
}
