<nav style="position: relative">
    <div class="navigation navigation__hide">
        <div class="spring">
            <ul class="navigation__list navigation__global navigation__hide no-gutter--all">
                <li class="navigation__spring">
                    <ul class="navigation navigation__list navigation__global--type">
                        <li class="js-navigation-item navigation__item hide--md hide--sm">
                            <a href="https://www.vodafone.de/" class="navigation__link navigation__link--slim navigation__site">{{ 'navigation.levelOne.consume' | translate }}</a>
                        </li>
                        <li class="navigation__item hide--md hide--sm">
                            <a href="" class="navigation__link navigation__link--slim navigation__site navigation__site--active">{{ 'navigation.levelOne.business' | translate }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="navigation navigation--primary">
        <div class="spring">
            <ul class="navigation__list navigation__spring">
                <li class="navigation__item">
                    <a href="/" class="brand">
                        <svg id="Layer_1" class="icon icon--small brand__logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 311.81 311.81"><defs><style>.cls-1{fill:#e60000;}.cls-2{fill:#fff;}</style></defs> <g id="_Group_" data-name="&lt;Group&gt;"><circle id="_Path_" data-name="&lt;Path&gt;" class="cls-1" stroke="none" cx="155.91" cy="155.91" r="155.91"/><path stroke="none" id="_Path_2" data-name="&lt;Path&gt;" class="cls-2" d="M157.13,242.31c-42.57.14-86.87-36.19-87.06-94.54C69.95,109.18,90.76,72,117.37,50c26-21.49,61.51-35.28,93.76-35.39,4.15,0,8.49.33,11.15,1.23-28.2,5.85-50.64,32.09-50.54,61.86a16.16,16.16,0,0,0,.19,2.52c47.18,11.49,68.6,40,68.73,79.35S209.69,242.13,157.13,242.31Z"/></g></svg>
                    </a>
                </li>
                <li class="navigation__item hide--sm">
                    <a routerLink="/dashboard" class="navigation__link navigation__link--main" aria-haspopup="true" id="startSiteMenu">
                        {{ 'navigation.primary.dashboard' | translate }}
                    </a>
                </li>
                <li class="navigation__item hide--sm">
                    <a routerLink="/mySubscriptions" class="navigation__link navigation__link--main" aria-haspopup="true" id="mySubscriptionsMenu">
                        {{ 'navigation.primary.mySubscriptions' | translate }}
                    </a>
                </li>
                <li class="navigation__item hide--sm">
                    <a routerLink="/myAccounts" class="navigation__link navigation__link--main" aria-haspopup="true" id="myAccountsMenu">
                        {{ 'navigation.primary.myAccounts' | translate }}
                    </a>
                </li>
                <li class="navigation__item hide--sm">
                    <a routerLink="/myAccounts/simSwap" class="navigation__link navigation__link--main" aria-haspopup="true" id="showSimMenu">
                        {{ 'navigation.primary.simSwap' | translate }}
                    </a>
                </li>
                <li class="navigation__item hide--sm">
                    <a routerLink="/myAccounts/showPUK" class="navigation__link navigation__link--main" aria-haspopup="true" id="showPUKMenu">
                        {{ 'navigation.primary.showPUK' | translate }}
                    </a>
                </li>
                <li class="navigation__item navigation__item--right navigation__item--clickable hide--lg hide--md">
                    <a href="#" class="navigation__link navigation__link--icon navigation__link--icon-last"
                        aria-haspopup="true" id="mobileMenu" (click)="toggleMenu($event)" [class.navigation__toggle--close]="show">
                        <svg *ngIf="!show" class="icon icon--small navigation__toggle" id="4c0ac855-1d9e-48a1-a16c-b1baae614416" data-name="ICON" xmlns="http://www.w3.org/2000/svg" width="161" height="112.5" viewBox="0 0 161 112.5"> <line id="2c72b4d9-1bf0-417d-b181-2a961c0178ac" data-name="&lt;Pfad&gt;" x1="156.5" y1="108" x2="4.5" y2="108" stroke-linecap="round" stroke-miterlimit="10" stroke-width="9"/><line id="f2f5e9a8-6d2b-4645-ae26-076f673e451d" data-name="&lt;Pfad&gt;" x1="156.5" y1="56" x2="4.5" y2="56" stroke-linecap="round" stroke-miterlimit="10"/><line id="60a467c5-af20-4a0f-87ba-d7208d8cf83b" data-name="&lt;Pfad&gt;" x1="156.5" y1="4" x2="4.5" y2="4" stroke-linecap="round" stroke-miterlimit="10"/></svg>
                        <svg *ngIf="show" class="icon icon--small" id="4a644cb5-2b9e-4079-8068-4c0022c4a2c8" data-name="ICON" xmlns="http://www.w3.org/2000/svg" width="144" height="144" viewBox="0 0 144 144"> <line id="2b810136-93de-4622-a0cc-fbdf15eb7667" data-name="&lt;Pfad&gt;" x1="4" y1="4" x2="140" y2="140" stroke-linecap="round" stroke-linejoin="round"/><line id="2d18ff19-f34e-4c5d-9791-2549bee849dd" data-name="&lt;Pfad&gt;" x1="4" y1="140" x2="140" y2="4" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    </a>

                    <div class="navigation navigation--tertiary" *ngIf="show">
                        <ul class="accordion navigation__accordion">
                            <li class="navigation__item navigation__item--tertiary">
                                <a routerLink="/dashboard" class="js-navigation-link navigation__link chevron chevron--inline"
                                    aria-expanded="false" aria-selected="false" tabindex="0" role="tab" aria-haspopup="true" (click)="show = false" id="startSiteMenu">
                                    <span class="chevron__text">{{ 'navigation.primary.dashboard' | translate }}</span>

                                    <span class="navigation__chevron--center">
                                        <svg class="icon chevron__icon navigation__chevron" id="035ffb98-4526-44c3-a3f1-09389eab9ccd" data-name="ICON" xmlns="http://www.w3.org/2000/svg" width="144" height="76" viewBox="0 0 144 76"> <polyline id="00134c7b-b10c-486b-af1b-ea0801b1e1c2" data-name="&lt;Pfad&gt;" points="140 4 72 72 4 4" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                    </span>
                                </a>
                            </li>

                            <li class="navigation__item navigation__item--tertiary">
                                <a routerLink="/mySubscriptions" class="js-navigation-link navigation__link chevron chevron--inline"
                                    aria-expanded="false" aria-selected="false" tabindex="0" role="tab" aria-haspopup="true" (click)="show = false" id="mySubscriptionsMenu">
                                    <span class="chevron__text">{{ 'navigation.primary.mySubscriptions' | translate }}</span>

                                    <span class="navigation__chevron--center">
                                        <svg class="icon chevron__icon navigation__chevron" id="035ffb98-4526-44c3-a3f1-09389eab9ccd" data-name="ICON" xmlns="http://www.w3.org/2000/svg" width="144" height="76" viewBox="0 0 144 76"> <polyline id="00134c7b-b10c-486b-af1b-ea0801b1e1c2" data-name="&lt;Pfad&gt;" points="140 4 72 72 4 4" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                    </span>
                                </a>
                            </li>

                            <li class="navigation__item navigation__item--tertiary">
                                <a routerLink="/myAccounts" class="js-navigation-link navigation__link chevron chevron--inline"
                                    aria-expanded="false" aria-selected="false" tabindex="0" role="tab" aria-haspopup="true" (click)="show = false" id="myAccountsMenu">
                                    <span class="chevron__text">{{ 'navigation.primary.myAccounts' | translate }}</span>

                                    <span class="navigation__chevron--center">
                                        <svg class="icon chevron__icon navigation__chevron" id="035ffb98-4526-44c3-a3f1-09389eab9ccd" data-name="ICON" xmlns="http://www.w3.org/2000/svg" width="144" height="76" viewBox="0 0 144 76"> <polyline id="00134c7b-b10c-486b-af1b-ea0801b1e1c2" data-name="&lt;Pfad&gt;" points="140 4 72 72 4 4" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                    </span>
                                </a>
                            </li>

                            <li class="navigation__item navigation__item--tertiary">
                                <a routerLink="/myAccounts/simSwap" class="js-navigation-link navigation__link chevron chevron--inline"
                                    aria-expanded="false" aria-selected="false" tabindex="0" role="tab" aria-haspopup="true" (click)="show = false" id="showSimMenu">
                                    <span class="chevron__text">{{ 'navigation.primary.simSwap' | translate }}</span>

                                    <span class="navigation__chevron--center">
                                        <svg class="icon chevron__icon navigation__chevron" id="035ffb98-4526-44c3-a3f1-09389eab9ccd" data-name="ICON" xmlns="http://www.w3.org/2000/svg" width="144" height="76" viewBox="0 0 144 76"> <polyline id="00134c7b-b10c-486b-af1b-ea0801b1e1c2" data-name="&lt;Pfad&gt;" points="140 4 72 72 4 4" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                    </span>
                                </a>
                            </li>

                            <li class="navigation__item navigation__item--tertiary">
                                <a routerLink="/myAccounts/showPUK" class="js-navigation-link navigation__link chevron chevron--inline"
                                    aria-expanded="false" aria-selected="false" tabindex="0" role="tab" aria-haspopup="true" (click)="show = false" id="showPUKMenu">
                                    <span class="chevron__text">{{ 'navigation.primary.showPUK' | translate }}</span>

                                    <span class="navigation__chevron--center">
                                        <svg class="icon chevron__icon navigation__chevron" id="035ffb98-4526-44c3-a3f1-09389eab9ccd" data-name="ICON" xmlns="http://www.w3.org/2000/svg" width="144" height="76" viewBox="0 0 144 76"> <polyline id="00134c7b-b10c-486b-af1b-ea0801b1e1c2" data-name="&lt;Pfad&gt;" points="140 4 72 72 4 4" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
